
@import './base/settings';
@import './base/base';

@import '/src/styles/componets/navbar';
@import '/src/styles/componets/prod';
@import '/src/styles/componets/detalle';
@import '/src/styles/componets/slider';
@import '/src/styles/componets/news';