.carrusel__main{
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: $rosa1;
}
.carrusel__main h3{
    font-size: 30px;
    letter-spacing: 5px;
    margin-left: 80px;
    font-weight: 400;
}
.carrusel__main span{
    font-weight: 1000;
}
.carrusel__main h3 a{
    letter-spacing: 1px;
    text-decoration: none;
    color: $rosa3;
    font-style: italic;
}

.carrusel__img{
    margin:20px 80px;
}

.carrusel__info{
    height: 140px;
    
    margin: 30px 80px 15px 80px;
    background-color: white; 
    display: flex;
    color: $rosa3;
    justify-content: space-between;
    align-items: center;

}
.carrusel__col{
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        
        transform: scale(1.04);
    }
}
.carrusel__col i{
    color: $rosa3;
    font-size: 60px;
    transition: all 0.2s ease;
    
}
.carrusel__col p{
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
}
///////////////////////carrusel///////////////////////


.carrusel__elemento{
   // width: 300px;
    margin: 10px;
   height: 430px;
    overflow: hidden;
}
.carrusel__elemento img{
    width: 100%;
}