.nav__main {
  height: 3.75rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
  

  
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem 5rem;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  
  
}

.nav__left,
.nav_center,
.nav__right {
  flex: 1;
}

.nav__left h1 a{
  color: #000;
  text-decoration: none;
  font-size: 2.5rem;
  font-family: "Shalimar", cursive;
}

.nav__right{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.nav__right span{
    margin-left: 1.25rem;
   
}
.fa-user-circle, .fa-shopping-cart{
    font-size: 1.25rem;
    color: #444;
}
.nav__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.nav__menu li{
    display: inline-block;
    margin-right: 1.25rem;
    
}
.nav__menu li a{
    text-decoration: none;
    color: #000;
    font-size: .875rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        color:$rosa3;
    }
   
}

